.img {
  position: absolute;
  height: 480px;
  left: 10px;


}

.mireia {
  position: absolute;
  width: 368px;
  height: 29px;
  left: calc(50% - 368px / 2 - 0px);
  top: 413px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.ensina {
  position: absolute;
  width: 368px;
  height: 19px;
  left: calc(50% - 300px / 2 - 0px);
  top: 453px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #858479;
}
